$font-stack:    Helvetica, sans-serif;
$primary-color: black;

nav {
  font: 100% $font-stack;
  background-color: $primary-color;
}

footer.page-footer {
  font: 100% $font-stack;
  background-color: $primary-color;
}
